extends layout

block content

  div#agreement
    div.px-3.pt-2
      h5 Allow 8888 to acquire location information
      text 8888 will receive your current location information to provide goverment agent.Your location information will only be used in complaint messages and will not be used elsewhere.
    div#bottons.d-flex.flex-row
      a.button#disagree.btn.btn-sm(href="/?option="+ disagree) Disagree
      a.button#agree.btn.btn-success.btn-sm(href="/?option="+ agree) Agree
      