extends layout

block content
  h1= title
  form(method='POST' action='/delphoto')
    div.form-group
        label.lead.font-weight-normal(for='name', value=) Photo key:
        input#key.form-control(name='key', type='text', value='')
        p
        button#submit.btn.btn-primary.btn-lg.float-right(type='submit') Submit
