extends layout

block content
  div#OFW
    div.text-center
      h5 Welcome to 
      h5 #{title}
      p
    div.text-center
      a.button#OFW.btn.btn-primary.float-center(href="/report_ofw") Overseas Filipino
      p
      a.button#NOFW.btn.btn-primary.float-center(href="/report_nofw") Non-Overseas Filipino
    //- p= proof
    //- p= json

  #popup.modal.fade(data-backdrop='static' data-keyboard='true' role="dialog")
    .modal-dialog.modal-dialog-centered
        .modal-content
            .modal-header
                h5.modal-title Remind
            .modal-body.text-center
                p Ang Loop Bayan Report ay isang reporting system na puwede kang magbigay ng iyong mga komento,suhestiyon, reaksyon, papuri at reklamo ukol sa ating gobyerno. Disclaimer: Kami ay hamak na messenger lamang na iaabot ang inyong reports sa tamang ahensiya ng gobyerno. Lahat ng impormasyong iyong ilalagay ay naka-record.
            .modal-footer 
              button.btn.btn-primary(data-dismiss="modal") Accept and Continue 

  script.
    let storgepid =localStorage.getItem('pid');
    $('#storgepid').text(storgepid)
    if(storgepid == '' || storgepid == undefined){
      localStorage.setItem('pid','#{pid}')
    }

    $(document).ready(function(){
      $("#popup").modal('show')
    })