extends layout

block content
    h3 #{title} of a complaint
    div#accordion
        div.card
            div#headingOne.card-header
                h5.mb-0
                    button.btn.btn-link(data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne") Complaint Information
            div#collapseOne.collapse.show(aria-labelledby="headingOne" data-parent="#accordion")
                div.card-body
                    div.row
                        div.col-6
                            h5 Name：
                        div.col-6
                            p #{rows[0].COSTOMER}
                    div.row
                        div.col-6
                            h5 Mobile :
                        div.col-6
                            p #{rows[0].MOBILE}
                    div.row
                        div.col-6
                            h5 Main Category :
                        div.col-6
                            p #{rows[0].MCATEGORY}                
                    div.row
                        div.col-6
                            h5 Sub Category :
                        div.col-6
                            p #{rows[0].SCATEGORY}
                    div.row
                        div.col-6
                            h5 Gov.  Agency :
                        div.col-6
                            p #{rows[0].AGENCY_NAME}
    h3.mt-1 Description of complaint
    each row in rows
        div.conversation.mt-3
            div.d-flex.flex-row
                div#img
                    img#Me(src="/images/Me.png", alt="")
                div#question.card.body.ml-2
                    h5.text-title  #{row.MESSAGE_CONTENT}
                    - let imgpaths = [row.FILE_1,row.FILE_2,row.FILE_3,row.FILE_4,row.FILE_5,row.FILE_6,row.FILE_7,row.FILE_8,row.FILE_9]
                    each imgpath in imgpaths
                        if(imgpath !='')
                            img#imgone.mb-1(src=imgpath,style="display: block;")
                        else
                            img#imgone.mb-1(src=imgpath,style="display: none;")
                    //- - let imgpaths = row.FILE_1.split(';')
                    //- each imgpath in imgpaths
                    //-     if(row.FILE_1 != '')
                    //-         img#imgone.mb-1(src=imgpath,style="display: block;")
                        //- else
                            img#imgone(src=row.URL,style="display: none;")
                    -var new_time = new Date(row.MESSAGE_TIME)
                        p.text.m-1 #{new_time.getFullYear()}-#{("0"+(new_time.getMonth()+1)).slice(-2)}-#{("0"+new_time.getDate()).slice(-2)} #{("0"+new_time.getHours()).slice(-2)}:#{("0"+new_time.getMinutes()).slice(-2)}:#{("0"+new_time.getSeconds()).slice(-2)}
            if(row.REPLY_CONTENT != '')
                div.d-flex.flex-row-reverse.mt-2.mb-2
                    div#img
                        img#CS(src="/images/CS.png",alt="")
                    div#reply.card.body.mr-2
                        - let replies = row.REPLY_CONTENT.split('\n')
                            -console.log(replies)
                            h5.text-left(type='', name='reply') #{replies[0]}
                            p.text.text-right.m-1 #{replies[1]}
                            h5.text-left(type='', name='reply') #{replies[2]}
                            p.text.text-right.m-1 #{replies[3]}
                            p.text #{replies[4]}
    p
    //- form(method='POST' action='/message' enctype="multipart/form-data")
    form#replyForm(enctype="multipart/form-data")

        div.form-group
            h4(for='content') More Info for this compliant:
            textarea#replycontent.form-control(name='content',rows="4", required)
            input(type='hidden', name='ticket_id', value=rows[0].TICKET_ID)
            input(type='hidden', name='pid', value=rows[0].CUSTOMER_PID)
            input(type='hidden', name='name', value=rows[0].COSTOMER)
            input(type='hidden', name='mobile', value=rows[0].MOBILE)
            input(type='hidden', name='mcate', value=rows[0].MCATEGORY)
            input(type='hidden', name='scate', value=rows[0].SCATEGORY)
            input(type='hidden', name='agency', value=rows[0].AGENCY_NAME)
            input(type='hidden', name='area', value=rows[0].AREA)
            
        div.form-group.custom-file    
            label.custom-file-label(for='upload') Choose Image...
            input#upimg.custom-file-input(name="upimg" type="file" accept="image/*" multiple)
        p
        lable.mt-2 Preview:
        #previewDiv
        .text-center
            //- button#submit.btn.btn-primary.mt-2.w-50 Submit
            //- div.form-group
            //-     img#preview
            //- p
            //- button#submit.btn.btn-primary.btn-lg.float-right Submit
    form(method='POST' action='/query')
        div.form-group
            input(type='hidden', name='pid', value=rows[0].CUSTOMER_PID)
        button#back.btn.btn-info.btn-lg.float-center(type='submit') Previous
        
        #submit.btn.btn-primary.btn-lg.float-right Submit
        
    script.

        $(document).ready(function(){
            

        //-  //- 選擇上傳圖檔後及時預覽
        //-     $("#upimg").change(function(){

        //-         var preview = document.querySelector('#preview');
        //-         var files    = document.querySelector('input[type=file]').files[0];

        //-         // 一張圖
        //-         var reader  = new FileReader();
        //-         reader.addEventListener("load", function () {
        //-             preview.src = reader.result;
        //-             preview.width = 100;
        //-         });

        //-         if (files) {
        //-             reader.readAsDataURL(files);
        //-         }

        //-     })
        //-     $("#preview").click(function(){
        //-         $("#upimg").val('');
        //-         $("#preview").attr('src',null);
        //-         $("#preview").attr('width',"0");
        //-     })

            /*
                Tea modified, 2018/5/15
            */

            let upimg = $("#upimg")
            
            //- 當user選擇圖檔時
            upimg.change(function(){
                //- 清空當下預覽
                $("#previewDiv").empty()
                previewFiles(this.files)
            })

            //- 預覽圖檔
            function previewFiles(files) {
                if (files && files.length >=1) {
                    for (let i = 0; i< files.length;i++) {
                        //- 呼叫filereader讀檔
                        let reader = new FileReader()
                        reader.onload = function(e) {
                            var image = new Image()
                            image.width = 200
                            image.name = files[i].name
                            image.src = reader.result
                            $("#previewDiv").append(image).append(`<p class="previewInfo">File: ${files[i].name} | Size: ${files[i].size} bytes`)
                        }
                        reader.readAsDataURL(files[i])
                    }
                }
            }

            //- 檢查input/textarea欄位
            function inputValidator(item){
                if (item.val()!="") {
                    item.removeClass('is-invalid').addClass('is-valid')
                    return true
                } else {
                    item.focus().addClass('is-invalid').after(`<div class="invalid-feedback">Please fill this blank!</div>`)
                    return false
                }
            }

            $("#submit").click(function(){

                //- 要檢查的欄位項目: replycontent
                let inputItems = [ $("#replycontent") ]

                //- 若表單驗證皆通過，建立FormData, XMLHttpRequest傳送
                if (inputItems.every(inputValidator)) {
                    //- 建立FormData物件
                    let myForm = new FormData($("#replyForm")[0])

                    //- 檢查是否有上傳圖檔，若無則自form移除 (only safari會出錯!)
                    if (upimg[0].files.length == 0) {
                        myForm.delete('upimg')
                    }

                    //- 建立XMLHttpRequest物件
                    let xhr = new XMLHttpRequest()

                    //- XMLHttpRequest.open()前就要註冊XMLHttpRequest的各種Event
                    //- 開始上傳: 加入進度條
                    xhr.upload.onloadstart = function(){
                        $(`<div class="progress mb-4"><div class="progress-bar" style="width:0%">0%</div></div>`).insertAfter("#previewDiv")
                    }
                    //- 上傳中: 更新進度條
                    xhr.upload.onprogress = function(e){
                        //- console.dir(e)
                        let progressVal = Math.round((e.loaded / e.total)*100),
                            progressStr = progressVal + "%"
                        $(".progress-bar").text(progressStr).css('width', progressStr)
                    }
                    //- 上傳結束: 移除進度條
                    xhr.upload.onloadend = function(){
                        $(".progress").fadeOut("slow", function(){
                            this.remove()
                        })
                    }
                    //- XMLHttpRequest結束: 跳出提示
                    xhr.onloadend = function(){
                        location.reload()
                        //- $("#notice").modal('show')
                    }
                    xhr.open('POST','/message')
                    //- 傳送表單
                    xhr.send(myForm)
                } else {
                    console.log('no input')
                }
            })

        })
        