extends layout

block content
  h1= title
  form(method='POST' action='/putmsg')
    div.form-group
        label.lead.font-weight-normal(for='name', value=) USER PID:
        input#pid.form-control(name='pid', type='text', value='ydvqPvKGHubWYQh/bQYyOaUA97512lLLBpflErdEk0U=')
        label(for='content') content:
        textarea#msgcontent.form-control(name='replycontent',rows="4", required)
        p
        button#submit.btn.btn-primary.btn-lg.float-right(type='submit') Submit
