extends layout

block content
  div#loading
    img#loading(src="/images/loading.gif", alt="")
  div.container
    div.row
      div.col-1.px-1.mx-1
        h5.text-title No.
      div.col-4
        h5.text-title Main Category
      div.col-4.pl-3
        h5.text-title Date
      div.col-2
        
  hr
  each row in rows
    div.container
      div.row
        div.col-2.pt-2
          h6 #{row.NO}
        div#mcategory.col-4.pt-2.pl-0
          h6 #{row.MCATEGORY}
        div.col-3.px-0.pt-2
          -var month = new Array();
          -month[0]="JAN",month[1]="Feb",month[2]="Mar",month[3]="Apr",month[4]="May",month[5]="Jun",month[6]="Jul",month[7]="Aug",month[8]="Sep",month[9]="Oct",month[10]="Nov",month[7]="Dec"
          -var d = new Date(row.MESSAGE_TIME)
          -var n = month[d.getMonth()]  
          h6 #{n}-#{("0"+d.getDate()).slice(-2)}
        div.col-3.px-0
          a#item-8888.btn.btn-primary.btn-md(href="/message?TICKET_ID="+row.TICKET_ID) Details
    hr#row.mb-1.mt-0
    <br>

  script.
    $("body").ready(function(){
        $("div#loading").hide();
    });
    $("div#loading").height($("body").height());
