extends layout

block content
  div#loading
    img#loading(src="/images/loading.gif", alt="")
    h4 Complaint reported !

  script.
    $("body").ready(function(){
        $("img#loading").hide();
    });
    $("div#loading").height($("body").height());