extends layout

block content
    div#loading
        img#loading(src="/images/loading.gif", alt="")
    div.d-flex.flex-row
        i#home.fa.fa-2x.fa-home
        div
        h2.text-center.mb-2.ml-2 Report Complaint
    button#anonymous.btn.btn-warring.btn-sm.float-right.mr-2( for='anonymous' ) Anonymous
    form#reportForm(enctype="multipart/form-data")
        .form-group
            label.lead.font-weight-normal(for='name') Name
            input#name.form-control(type='text', placeholder='Your name', name='name' required)
        .form-group
            label.lead.font-weight-normal(for='mobile') Mobile
            input#mobile.form-control(type='mobile', pattern="\\d{11}", title="Must be 11 digits !", placeholder='0960000000', name='mobile' required)
        .form-group
            label.lead.font-weight-normal(for='manpower') Your Manpower Agency
            input#manpower.form-control(type='text',name='manpower')
        .form-group
            label.lead.font-weight-normal(for='worklist') Type of Overseas Filipinos
            select#worklist.form-control(name='worklist' required)
                option(value='') Please Choose
        .form-row
            .form-group.col-md-6
                label.lead.font-weight-normal(for='maincat') Choose Main Category
                select#maincat.form-control(name='maincat' required)
                    option(value='') Please Choose
            .form-group.col-md-6
                label.lead.font-weight-normal(for='subcat') Choose Sub Category
                select#subcat.form-control(name='subcat')
                    option
        .form-group
            label.lead.font-weight-normal(for='dept') Choose Resposible Department
            select#dept.form-control(name='dept' required)
                option
        .form-group
            label.lead.font-weight-normal(for='content') Description of your complaint
            textarea#content.form-control(name='content', rows="6", maxlength="900" required)
            span#totalchars.float-right
        //- .form-group
        //-     label.lead.font-weight-normal(for='location') Location
        //-     button#anonymous.btn.btn-warring.btn-sm.float-right.mr-2 Share your location
        //-     input#mobile.form-control(type='location')         
        label.lead.font-weight-normal Upload images
        .custom-file
            label.custom-file-label(for='upimg') Choose Image...
            input#upimg.custom-file-input(name="upimg" type="file" accept="image/*" multiple) 

    h5.mt-2 Preview:
    #previewDiv
    .text-center
        button#submit.btn.btn-primary.mt-2.w-50 Submit a Case

    #popup.modal.fade(data-backdrop='static' data-keyboard='true' role="dialog")
        .modal-dialog.modal-dialog-centered
            .modal-content
                .modal-header
                    h5.modal-title Remind
                .modal-body.text-center
                    p Sigurado ka ba? Hindi pa naka-record ang mga isinulat mo at mawawala ang anumang nasimulan na.
                .modal-footer 
                    a.btn.btn-secondary(href="/") Okay lang  
                    a.btn.btn-primary(data-dismiss="modal") Save ko muna 


    #notice.modal.fade(data-backdrop='static' data-keyboard='false')
        .modal-dialog.modal-dialog-centered
            .modal-content
                .modal-header
                    h5.modal-title SUCCESS!
                .modal-body.text-center
                    img(src="images/done.png" style='height:50px')
                    p Naisumite na ang iyong report!I-rerelay namin ito sa tamang ahensya ng gobyerno.Disclaimer: Hindi po kami parte ng gobyerno ngunit kami po ay messenger ng mga hinaing ng sambayanang Pilipino.      

    script.
        $("body").ready(function(){
            $("div#loading").hide();
            $("#home").click(function(){
                $("#popup").modal('show')
            })
        });
        $("div#loading").height($("body").height());
        //- $("form").submit(function(e){
        //- $("button").addClass("disabled");
        //- });
        let pid = localStorage.getItem('pid')

        $(document).ready(function(){

            //匿名    
            $("#anonymous").click(function(){
            let nameval = $("#name").val();
            if(nameval == ''){
                $("#anonymous").text("Public")
                $("#name").val("Anonymous");
                $("#name").prop('disabled', true);
                $("#mobile").val("09000000000");
                $("#mobile").prop('disabled', true);
                $('div.error#name').empty().removeClass('invalid-feeback')
                $('div.error#mobile').empty().removeClass('invalid-feeback')  
            }else{
                $("#anonymous").text("Anonymous")
                $("#name").val("");
                $("#name").prop('disabled', false);
                $("#mobile").val("");
                $("#mobile").prop('disabled', false);                 
            }
            })

            //textarea counter
            $("#totalchars").text("900/900")
            $("#content").keyup(function(){
                var left = 900 - $(this).val().length;
                if(left<0){
                    left=0
                }
                
                $("#totalchars").text(left+"/900")
            }

            )

            //Loading workerslist
            let worklist = #{worklist}
            let works = $("#worklist")
            worklist.forEach(item=>works.append(new Option(item)))            

            /*
                Tea modified, 2018/5/15
            */

            let datas = #{results}
            let maincatlist = #{maincat}

            let maincat = $("#maincat")
            let subcat = $("#subcat")
            let dept = $("#dept")
            let upimg = $("#upimg")

            let SelectedMain
            let SelectedSub
            let matchedMaincatDatas = []

            maincatlist.forEach(item=>maincat.append(new Option(item)))

            //- 當maincat選單改變時的動作
            maincat.change(function(){
                //- 清空subcat與dept選單
                subcat.empty().append(new Option('Please Choose',''))
                dept.empty().append(new Option('Please Choose',''))
                //- 取得目前所選的maincat
                SelectedMain = maincat.val()
                //- 篩選符合項目
                matchedMaincatDatas = datas.filter(data=> (data.MCATEGORY === SelectedMain) )
                //- 將每個篩選過後的項目加入subcat or dept選單
                matchedMaincatDatas.forEach(obj=>{
                    if (obj.SUBCATEGORY != "") {
                        subcat.append(new Option(obj.SUBCATEGORY))
                    } else {
                        //- subcat沒得選，直接新增dept選項
                        dept.append(new Option(obj.AGENCY_SHORT))
                    }
                })
                //- 檢查subcat沒選擇就隱藏此選單
                if ((subcat.find('option').length-1) == 0) subcat.hide()
                else subcat.show()
            })

            //- 當subcat選單改變時的動作(subcat有得選才觸發)
            subcat.change(function(){
                SelectedSub = subcat.val()
                dept.empty()
                matchedMaincatDatas.filter(data=> (data.SUBCATEGORY === SelectedSub ) )
                .forEach(item=>dept.append(new Option(item.AGENCY_SHORT)))
            })

            //- 當user選擇圖檔時
            upimg.change(function(){
                //- 清空當下預覽
                $("#previewDiv").empty()
                previewFiles(this.files)
            })

            //- 預覽圖檔
            function previewFiles(files) {
                if (files && files.length >=1) {
                    for (let i = 0; i< files.length;i++) {
                        //- 呼叫filereader讀檔
                        let reader = new FileReader()
                        reader.onload = function(e) {
                            var image = new Image()
                            image.width = 200
                            image.name = files[i].name
                            image.src = reader.result
                            $("#previewDiv").append(image).append(`<p class="previewInfo">File: ${files[i].name} | Size: ${files[i].size} bytes`)
                        }
                        reader.readAsDataURL(files[i])
                    }
                }
            }

            //- 檢查input/textarea欄位
            function inputValidator(item){
                if (item.val()!="") {
                    item.removeClass('is-invalid').addClass('is-valid')
                    return true
                } else {
                    item.focus().addClass('is-invalid').after(`<div class="invalid-feedback">Please fill this blank!</div>`)
                    return false
                }
            }

            //- 檢查select選單
            function selectValidator(item){
                if (item.find("option:selected").val() != "") {

                    item.removeClass('is-invalid').addClass('is-valid')
                    return true
                } else {
                    item.focus().addClass('is-invalid').after(`<div class="invalid-feedback">Please choose one!</div>`)
                    return false
                }
            }

            //- 當欄位發生變動時做檢查
            $('input,textarea').change(function(e) {
                inputValidator($(this))
            })

            //- 當選單發生變動時做檢查
            $('select').change(function(e) {
                selectValidator($(this))
            })

            $("#submit").click(function(){

                //- 要檢查的欄位項目: name, mobile, maincat, dept, content
                let inputItems = [ $("#name"), $("#mobile"), $("#content") ]
                let selectItems = [ $("#maincat"), $("#dept") ]

                //- 若表單驗證皆通過，建立FormData, XMLHttpRequest傳送
                if (inputItems.every(inputValidator) && selectItems.every(selectValidator)) {
                    //- 建立FormData物件
                    let myForm = new FormData($("#reportForm")[0])
                    myForm.set('pid',pid)

                    //- 檢查是否有上傳圖檔，若無則自form移除 (only safari會出錯!)
                    if (upimg[0].files.length == 0) {
                        myForm.delete('upimg')
                    }

                    //- 建立XMLHttpRequest物件
                    let xhr = new XMLHttpRequest()

                    //- XMLHttpRequest.open()前就要註冊XMLHttpRequest的各種Event
                    //- 開始上傳: 加入進度條
                    xhr.upload.onloadstart = function(){
                        $(`<div class="progress mb-4"><div class="progress-bar" style="width:0%">0%</div></div>`).insertAfter("#previewDiv")
                    }
                    //- 上傳中: 更新進度條
                    xhr.upload.onprogress = function(e){
                        //- console.dir(e)
                        let progressVal = Math.round((e.loaded / e.total)*100),
                            progressStr = progressVal + "%"
                        $(".progress-bar").text(progressStr).css('width', progressStr)
                    }
                    //- 上傳結束: 移除進度條
                    xhr.upload.onloadend = function(){
                        $(".progress").fadeOut("slow", function(){
                            this.remove()
                        })
                    }
                    //- XMLHttpRequest結束: 跳出提示
                    xhr.onloadend = function(){
                        $("#notice").modal('show')
                    }
                    xhr.open('POST','/report_ofw')
                    //- 傳送表單
                    xhr.send(myForm)
                } else {
                    console.log('no input')
                }
            })
        })                