body {
  padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a#item-8888 {
  margin: 5px;
  width: 96%;
  white-space: normal;
}

div#loading {
  z-index: 1;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 40%;
}

img#loading {
  background-color: white;
}

img#Me,
img#CS {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

img#imgone {
  width: 100%;
  /* height:225px ;  */
}

div#question{
  max-width: 65%;
}

div#reply {
  max-width: 65%;
}

.error {
  color: #ff0000;
}

form#reportform {
  margin: 10px;
}

a#OFW,
#NOFW {
  width: 50%;
}

div#OFW {
  width: 100%;
  position: absolute;
  /*絕對位置*/
  top: 30%;
  /*從上面開始算，下推 30% (一半) 的位置*/
}

i#home {
  font-size: 2.5rem
}

div#bottons {
  position: absolute;
  bottom: 0;
  width: 100%;
}

a#agree,#disagree {
  width: 50%;
}

i#home{
  color:blue;
}

